*{
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fff;
}

.menu {
	list-style: none;
	margin: auto;
	padding: 0;
	background: #f2dc52;
	font-family: 'Dongle', sans-serif;
	font-size: 30px;

	/*width: 90%;*/
	/*max-width: 800px;*/
}

.menu li a {
	text-decoration: none;
	color: black;
	padding: 30px;
	display: block;
	text-align: center;

}

.menu li {
	display: inline-block;
	text-align: center;
	margin-right: 50px;
}

.menu li a:hover {
	background: #ef8334
}


.text-main-1 {
	font-family: 'Mukta', sans-serif;
	margin: 130px 50px 0px;
	display: inline-block;
	
	
}

.text-1 {
	font-family: 'Mukta', sans-serif;
	color: black;
	width: 50%;
	margin-left: 50px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	text-align: left;


}

.imagen-1 {
	border-radius: 5px;
	width: 300px;
	height: 200px;
	position: relative;
	left: 900px;
	bottom: 280px;
}


/*.footer {
	width: auto;
	background: black;
	margin: 0;
	padding-left: 20px;
	font-family: 'Mukta', sans-serif;
	color: white;

}

.footer a {
	color: white;
	font-style: italic;
	text-decoration: none;
	font-family: 'Mukta', sans-serif;
	font-size: 1.4rem;
}
*/
